{% extends "admin/base_site.html" %}


{% load static %}

{% block content %}

<h2>Stuffs list</h2>


<table class="stufflist">
    <thead>
    <tr>
        <th><a href='?orderby=unrz'>unrz</a></th>
        <th><a href='?orderby=r'>r</a></th>
        <th><a href='?orderby=n'>n</a></th>
        <th><a href='?orderby=fio'>fio</a></th>
        <th><a href='?orderby=birthdate'>birthdate</a></th>
        <th><a href='?orderby=expiredAt'>expiredAt</a></th>
        <th><a href='?orderby=qr_url'>qr_url</a></th>
    </tr>
    </thead>
{% for stuff in page_obj %}
    {# Each "contact" is a Contact model object. #}
    <tr>
        <td><a href="{% url 'unrz' stuff.unrz %}">{{ stuff.unrz }}</a></td>
        <td>{{ stuff.r }}</td>
        <td>{{ stuff.n }}</td>
        <td>{{ stuff.fio }}</td>
        <td>{{ stuff.birthdate }}</td>
        <td>{{ stuff.expiredAt }}</td>
        <td><a href='{{ stuff.qr_url }}'>{{ stuff.qr_url }}</a></td>
        <!--td>
            <img src="data:image/png;base64,{{ stuff.qr }}"></img>
        </td-->
    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&orderby={{ orderby }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&orderby={{ orderby }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&orderby={{ orderby }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&orderby={{ orderby }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}